#geo ul{
    padding-left: 10px;
}


h2{
    text-align: center;
    color: #52a7dc;
    font-family: "Raleway-Regular";
    font-size: 23.28px;
    font-weight: 600;
    line-height: 152%;

}
#counries-list .cities-list{
    text-align: center;
}

.last-comments{
    border-bottom:1px #ccc dotted;
    font-size: 12px;
    padding: 4px 0;
}
.last-comments-institutions{
    font-size: 13px;
}
.last-comments p{
    padding: 4px;
    margin-bottom: 0;
}

ul.institution_info{
    box-shadow:rgba(0, 0, 0, 0.247059) 0 1px 3px 0;
    border-radius:1px;
    padding:15px;
}
ul.institution_info > li{
    margin-bottom: 10px;
}
ul.institution_info > li strong{
    color:#52A7DC;
    font-family:Raleway-Regular;
}
#geo_institutions_photos{
    overflow: hidden;
    margin: 20px 0;
}
#geo_institutions_photos img{
    width: 100%;
    height: auto;
}
.institutions_big_photo{
    margin-bottom: 20px;
}
/*Стиль блока лайков*/
#likesBox{
    border:1px #8bd83b solid;
    border-radius: 3px;
    color:#8bd83b;
    display: table;
    margin: 10px 0;
    padding: 5px;
}
#likesBox form{
    display: inline-block;
}
#likesBox .button{
    color:#8bd83b;
    padding-right: 6px;
    border: none;

}
.resultLikes{
    display: inline-block;
    border-left:1px #8bd83b solid;
    padding-left: 6px;
    font-weight: bold;
    color:green;
}